@import url(variables.css);
@import url(footer.css);
#coche-home {
    display: var(--no);
}
label #home, label #fermer {
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
#coche-home:checked ~ .page-home {
    height: var(--cont-h);
    bottom: var(--pos-fermer);
}
#coche-home:checked ~ label #home {
    display: var(--no);
    pointer-events: var(--no);
}
#coche-home:checked ~ label #fermer {
    display: var(--blo);
    bottom: var(--res);
}
.page-home {
    position: var(--fix);
    right: var(--res);
    bottom: var(--pos-page);
    display: var(--fl);
    flex-flow: var(--desk);
    width: var(--L);
    height: var(--h);
    background: var(--home-page);
    box-shadow: var(--home-shadow);
    transition: var(--slide); 
}
.page-home i{
    position: var(--abs);
    top: var(--liseret-t);
    left: var(--liseret-l);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: var(--liseret-h);
    background: var(--bg-lis);
    border-radius: var(--liseret-bord-1);
    border-bottom-left-radius: var(--res);
}
.page-home i span {
    color: var(--texte);
    font-size: var(--bot);
    font-family: var(--pol);
}

/*****************************************************
******************************************************
************************** contenu de la page ********
******************************************************
******************************************************/



