@import url(variables.css);
@import url(style.css);
@import url(footer.css);
#coche-home {
    display: var(--no);
}
label #home, label #fermer {
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
#coche-home:checked ~ .page-home {
    height: var(--cont-h);
    bottom: var(--pos-fermer);
}
#coche-home:checked ~ label #home {
    display: var(--no);
    pointer-events: var(--no);
}
#coche-home:checked ~ label #fermer {
    display: block;
    bottom: var(--res);
}
.page-home {
    position: var(--fix);
    right: var(--res);
    bottom: var(--pos-page);
    display: var(--fl);
    flex-flow: var(--desk);
    width: var(--cont-h);
    height: var(--h);
    background: var(--home-page);
    box-shadow: var(--home-shadow);
    border-radius: var(--bot);
    transition: var(--slide); 
}

.page-home i{
    position: var(--abs);
    top: 40px;
    left: -15px;
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: 50px;
    background: var(--blue);
    border-radius: 30px;
    border-bottom-left-radius: var(--res);

}
.page-home i::before {
    content: '';
    position: var(--abs);
    top: 50px;
    left: -0px;
    width: 15px;
    height: 30px;
    background: var(--blanc);
}

.page-home i span {
    color: var(--texte);
    font-size: var(--text);
}
