@import url(variable.css);

@keyframes opacity {
    from {
        opacity: 90%;
    }
    50% {
        opacity: 100%;
    }
    to {
        opacity: 90%;
    }
}

@keyframes bg {
    from {
        background-color: var(--bg-color);
    }
    50% {
        background-color: var(--bg-color2);
    }
    to {
        background-color: var(--bg-color);
    }
}