@import url(style.css);
@import url(variables.css);
@import url(animations.css);

#contact {
    display: var(--blo);
    position: var(--abs);
    width: var(--a);
    height: var(--icone);
    padding: var(--pad);
    z-index: 5;
}
#contact:hover {
    transform: var(--sca);
    border-radius: var(--foo);
    box-shadow: var(--round);
}

label #contact {
    order: 1;
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
#coche-contact {display: var(--no);}
#coche-contact:checked ~ label #contact {
    pointer-events: var(--no);
}
#coche-contact:checked ~ .page-contact {
    width: var(--L);
    height: var(--cont-h);
    bottom: var(--pos-fermer);
    opacity: var(--visible);
}
.page-contact {
    display: var(--fl);
    position: var(--fix);
    flex-flow: var(--mob);
    justify-content: var(--cen);
    align-items: var(--cen);    
    left: var(--res);
    bottom: var(--pos-page);
    width: var(--res);
    height: var(--res);
    background: var(--bg-pages);
    opacity: var(--invisible);
    transition: var(--slide); 
    z-index: 4;
}
a {text-decoration: var(--n);}
.lien img {
    width: var(--bg);
    height: var(--a);
    padding: var(--pad);
}


form {
    display: var(--fl);
    flex-flow: var(--mob);
    justify-content: space-between;
    width: var(--cont-w);
}

form input, form textarea {
    margin: var(--pad);
    padding: var(--bot);
    height: var(--bot);
    font-size: var(--bot);
    border-radius: var(--bot);
}
form textarea {
    height: var(--bg);
}

form input:focus, form textarea:focus {
    padding-left: var(--bot);
    transition: var(--slide);
}

form input:valid, form textarea:valid {
    color: var(--vert);
}

form input:invalid, form textarea:invalid {
    color: var(--rouge);
}

  


