@import url(variables.css);
@import url(footer.css);
#coche-corbeille {
    display: var(--no);
}
#coche-corbeille:checked ~ .page-corbeille {
    width: var(--L);
    height: var(--cont-h);
    bottom: var(--pos-fermer);
    opacity: var(--visible);
}
#coche-corbeille:checked ~ label #corbeille {
    display: var(--no);
    pointer-events: var(--no);
}
#coche-corbeille:checked ~ label #fermer {
    display: var(--blo);
    bottom: var(--res);
}
label #corbeille, label #fermer {
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
.page-corbeille {
    display: var(--fl);
    position: var(--fix);
    flex-flow: var(--desk);
    justify-content: var(--home-j);
    align-items: var(--home-j);
    right: var(--res);
    bottom: var(--pos-page);
    width: var(--cont-h);
    height: var(--cont-h);
    background: var(--home-page);
    opacity: var(--invisible);
    transition: var(--slide); 
    z-index: 4;
}
.page-corbeille i{
    position: var(--abs);
    top: var(--liseret-t);
    left: var(--liseret-l);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: var(--liseret-h);
    background: var(--bg-lis);
    border-radius: var(--liseret-bord-1);
    border-bottom-left-radius: var(--res);
    z-index: 7;
}
.page-corbeille i span {
    color: var(--blanc);
    font-size: var(--bot);
    font-family: var(--pol);
    font-variant: normal;
    z-index: 7;
}

/*****************************************************
******************************************************
************************** contenu de la page ********
******************************************************
******************************************************/

#corbeille {
    display: var(--blo);
    position: var(--rel);
    width: var(--w);
    height: var(--etoile);
    font-family: var(--pol);
    z-index: 6;
}
.container {
    display: var(--fl);
    flex-flow: var(--desk);
    align-items: var(--sa);
    justify-content: var(--sa);
    width: var(--a);
    height: var(--cont-h);
    padding-top: var(--bg-lab);
    background-color: var(--home-page);
    z-index: 6;
}
.lien > a {
    display: var(--fl);
    flex-flow:  var(--mob-w);
    align-items: var(--cen);
    width: var(--bg);
} 
img.windows {
    width: var(--bg);
    height: var(--a);
    margin-top: var(--res);
    padding: var(--pad);
}
.nom {
    text-align: var(--cen);
    color: var(--blanc);
    margin-top: var(--bg-lab);
}
