@import url(variables.css);
@import url(style.css);
@import url(contact.css);
@import url(corbeille.css);
@import url(accueil.css);
@import url(info.css);
@import url(linux.css);
@import url(animations.css);
footer.dock {
    display: var(--fl);
    position: var(--sti);
    flex-flow: var(--desk);
    align-items: var(--cen);
    justify-content: var(--sa);
    width: var(--cont-h);
    height: var(--a);
    padding-bottom: var(--text);
    z-index: 10;
}
#contact, #corbeille, #home, #info, #linux {
    display: var(--blo);
    position: var(--abs);
    width: var(--home);
    height: var(--home);
    z-index: 5;
}
img:not(.bg):hover {
    transform: var(--sca);
    border-radius: var(--foo);
    box-shadow: var(--round);
}
title {
    font-size: 3em;
}