@import url(style.css);
@import url(variables.css);
@import url(animations.css);

#home, #contact {
    padding-bottom: var(--res);
}
#fermer {
    display: var(--no);
    order: 3;
    position: var(--rel);
    z-index: 4;
}

#fermer:hover {
    transform: var(--sca);
}

#home {
    order: 3;
    display: var(--blo);
    position: var(--rel);
    width: var(--home);
    height: var(--home);
    z-index: 5;
}

#home:hover {
    transform: var(--sca);
    border-radius: var(--foo);
    box-shadow: var(--round);
}

#coche-home {
    display: var(--no);
}

.page-home {
    position: var(--fix);
    left: var(--res);
    bottom: var(--pos-page);
    display: var(--fl);
    flex-flow: var(--desk);
    width: var(--L);
    height: var(--h);
    background: var(--bg-color);
    transition: var(--slide); 
}

label #home, label #fermer {
    order: 3;
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}

#coche-home:checked ~ .page-home {
    height: var(--cont-h);
    bottom: var(--pos-fermer);
}

#coche-home:checked ~ label #home {
    display: var(--no);
    pointer-events: var(--no);
}

#coche-home:checked ~ label #fermer {
    display: block;
    bottom: var(--res);
}

.lien img {
    width: var(--home);
    height: var(--home);
}

#contact {
    display: var(--blo);
    position: var(--rel);
    width: var(--contact);
    height: var(--contact);
    z-index: 5;
}

#contact:hover {
    transform: var(--sca);
    border-radius: var(--foo);
    box-shadow: var(--round);
}