@import url(variables.css);

#corbeille {
    display: var(--blo);
    position: var(--abs);
    width: var(--a);
    height: var(--icone);
    padding: var(--pad);
    z-index: 5;
}
#corbeille:hover {
    transform: var(--sca);
    border-radius: var(--foo);
    box-shadow: var(--round);
}
.fermer:hover {transform: var(--sca);}
.windows:hover {transform: var(--sca);}
label #corbeille {
    order: 3;
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
#coche-corbeille {display: var(--no);}
#coche-corbeille:checked ~ label #corbeille {
    pointer-events: var(--no);
}
#coche-corbeille:checked ~ .page-corbeille {
    width: var(--L);
    height: var(--cont-h);
    bottom: var(--pos-fermer);
    opacity: var(--visible);
}
.page-corbeille {
    display: var(--fl);
    position: var(--fix);
    flex-flow: var(--desk);
    justify-content: var(--home-j);
    align-items: var(--home-j);
    left: var(--res);
    bottom: var(--pos-page);
    width: var(--res);
    height: var(--res);
    background: var(--bg-corbeille);
    opacity: var(--invisible);
    transition: var(--slide); 
    z-index: 4;
}
a {text-decoration: var(--n);}
.lien img {
    width: var(--bg);
    height: var(--a);
    padding: var(--pad);
}
