@import url(variables.css);
@import url(footer.css);
#coche-info {
    display: var(--no);
}
label #info, label #fermer {
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
#coche-info:checked ~ .page-info {
    height: var(--cont-h);
    bottom: var(--pos-fermer);
}
#coche-info:checked ~ label #info {
    display: var(--no);
    pointer-events: var(--no);
}
#coche-info:checked ~ label #fermer {
    display: var(--blo);
    bottom: var(--res);
}
.page-info {
    position: var(--fix);
    right: var(--res);
    bottom: var(--pos-page);
    display: var(--fl);
    flex-flow: var(--desk);
    width: var(--L);
    height: var(--h);
    background: var(--home-page);
    box-shadow: var(--home-shadow);
    transition: var(--slide); 
}
.page-info i{
    position: var(--abs);
    top: var(--liseret-t);
    left: var(--liseret-l);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: var(--liseret-h);
    background: var(--bg-lis);
    border-radius: var(--liseret-bord-1);
    border-bottom-left-radius: var(--res);
    z-index: 8;
}
.page-info i span {
    color: var(--texte);
    font-size: var(--bot);
    font-family: var(--pol);
    z-index: 8;
}

/*****************************************************
******************************************************
************************** contenu de la page ********
******************************************************
******************************************************/

#infos {
    display: var(--blo);
    position: var(--rel);
    width: var(--w);
    height: var(--a);
    z-index: 6;
}
.container {
    display: grid;
    grid-template-areas: 
    "carte carte" 
    "adresse ouverture" 
    "description description";
    grid-template-rows: var(--liseret) var(--page) var(--boite);
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--text);
    align-items: var(--sa);
    padding-top: var(--bg);
    background-color: var(--home-page);
}
.carte-infos, span  {
    display: var(--blo);
    position: var(--rel);
    height: var(--a);
    padding: var(--text);
    color: var(--texte);
    z-index: 6;
}
iframe.carte-infos {
    grid-area: carte;
    border-radius: 50px;
}
.texte1 {
    grid-area: adresse;
}
.texte2 {
    grid-area: ouverture;
    background-color: var(--bg-lis);
}
.texte3 {
    grid-area: description;
    border: 2px solid var(--bg-lis);
    padding-bottom: var(--icone);
    text-align: var(--cen);
}
h1 {
    font-size: var(--bot);
}
h2 {
    font-size: var(--text);
}
h3 {
    font-size: var(--text);
}
a {
    color: var(--jaune);
}