@import url(variables.css);
@import url(style.css);
@import url(footer.css);
#coche-info {
    display: var(--no);
}
label #info, label #fermer {
    position: var(--rel);
    cursor: var(--point);
    width: var(--home);
    height: var(--home);
    transition: var(--slide);
    z-index: 5;
}
#coche-info:checked ~ .page-info {
    height: var(--cont-h);
    bottom: var(--pos-fermer);
}
#coche-info:checked ~ label #info {
    display: var(--no);
    pointer-events: var(--no);
}
#coche-info:checked ~ label #fermer {
    display: var(--blo);
    bottom: var(--res);
}
.page-info {
    position: var(--fix);
    right: var(--res);
    bottom: var(--pos-page);
    display: var(--fl);
    flex-flow: var(--desk);
    width: var(--L);
    height: var(--cont-h);
    background: var(--home-page);
    box-shadow: var(--home-shadow);
    transition: var(--slide); 
    z-index: 2;
}

.page-info i{
    position: var(--rel);
    top: var(--bg);
    left: var(--liseret-l);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: var(--liseret-h);
    margin-top: var(--m);
    background: var(--bg-lis);
    border-radius: var(--liseret-bord-1);
    border-bottom-left-radius: var(--res);
    z-index: 7;

}
.page-info i::before {
    content: '';
    position: var(--abs);
    top: var(--liseret-boucle-t);
    left: var(--res);
    width: var(--liseret-boucle-w);
    height: var(--liseret-boucle-h);
    background: var(--bg-pages);
    border-top-left-radius: var(--liseret-bord-2);
    border-bottom-left-radius: var(--liseret-bord-2);
    z-index: 2;
}

.page-info i::after {
    content: '';
    position: var(--abs);
    top: var(--liseret-boucle-t);
    left: var(--res);
    width: var(--liseret-boucle-w);
    height: var(--liseret-boucle-w);
    background: var(--blue);

}

.page-info i span {
    color: var(--texte);
    font-size: var(--bot);
    font-family: var(--pol);
}
@media screen and (min-width: 400px) {
    
}