@import url(variables.css);
@import url(style.css);

.menu_container {
    display: var(--n);
    position: var(--abs);
    width: var(--w);
    height: var(--h);
    z-index: 6;
}

img#home:active~.menu_container {
    display: var(--blo);
    position: var(--abs);
    width: var(--w);
    height: var(--con-h);
    top: var(--res);
    display: grid;
    grid-template: repeat(var(--foo))/repeat(var(--foo));
    grid-template-areas: "un deux" "trois quatre" "cinq six" "sept huit";
    z-index: 6;
}

.menu_container:hover {
    display: var(--blo);
    position: var(--abs);
    width: var(--w);
    height: var(--cont-h);
    display: grid;
    grid-template: repeat(var(--foo))/repeat(var(--foo));
    grid-template-areas: "un deux" "trois quatre" "cinq six" "sept huit";
    z-index: 6;
}

div a {
    display: var(--fl);
    flex-flow: var(--desk);
    align-items: var(--cen);
    justify-content: var(--cen);
    width: var(--a);
    font-size: var(--pad);
    text-decoration: var(--n);
    font-family: verdana, sans-sérif;
    text-align: var(--cen);
    color: white;
    background-size: var(--L);
    background-repeat: no-repeat;
    background-position: var(--cen);
    transition: 0.5s ease;
}

.lien1:hover,
.lien2:hover,
.lien3:hover,
.lien4:hover,
.lien5:hover,
.lien6:hover,
.lien7:hover,
.lien8:hover {
    background-color: darkgrey;
    background-blend-mode: difference;
}

a.lien1 {
    grid-area: un;
    background-color: #253237;
}

a.lien2 {
    grid-area: deux;
    background-color: #5C6B73;
}

a.lien3 {
    grid-area: trois;
    background-color: #9DB4C0;
}

a.lien4 {
    grid-area: quatre;
    background-color: #C2DFE3;
    color: #253237;
}

a.lien5 {
    grid-area: cinq;
    background-color: #5C6B73;
}

a.lien6 {
    grid-area: six;
    background-color: #E0FBFC;
    color: #253237;
}

a.lien7 {
    grid-area: sept;
    background-color: #394549;
}

a.lien8 {
    grid-area: huit;
    background-color: #253237;
}