@import url(variables.css);
@import url(style.css);
@import url(info.css);
body {
    display: var(--fl);
    flex-flow: var(--mob);
    align-items: var(--sa);
    justify-content: var(--sa);
    Width: var(--cont-h);
    height: var(--h);
    padding-top: var(--bg);
    padding-bottom: var(--h);
    font-family: var(--pol);
    background-color: var(--home-page);
}
main {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--mob);
    align-items: var(--sa);
    justify-content: var(--sa);
    top: var(--bg);
    overflow-x: var(--hi);
}
span.texte1, .texte2, .texte3  {
    position: var(--rel);
    display: var(--fl);
    flex-flow: var(--mob);
    align-items: var(--sa);
    justify-content: var(--sa);
    left: var(--bg);
    right: var(--bg);
    color: var(--texte);
}
a {
    color: var(--jaune);
}