@import url(variables.css);
@import url(style.css);
@import url(info.css);
body {
    display: var(--fl);
    flex-flow: var(--mob);
    align-items: var(--cen);
    justify-content: var(--cen);
    Width: var(--L);
    height: var(--a);
    top: var(--res);
    left: var(--res);
    bottom: var(--h);
    right: var(--res);
    padding-bottom: var(--page);
    font-family: var(--pol);
    background-color: var(--home-page);
    z-index: 5;
}
main {
    display: grid;
    position: var(--rel);
    grid-template-columns: var(--L);
    grid-template-rows: 1fr;
    grid-template-areas: 
    item1 item1,
    item2 item3,
    item 4 item4;
    justify-content: var(--cen);
    width: var(--cont-w);
    height: var(--a);
    top: var(--bot);
    bottom: var(--bg);
    z-index: 5;
}
iframe.carte-infos, .texte1, .texte2, .texte3  {
    position: var(--rel);
    display: var(--fl);
    flex-flow: var(--mob-w);
    align-items: var(--cen);
    justify-content: var(--cen);
    width: var(--L);
    height: var(--a);
    color: var(--texte);
    z-index: 6;
}
iframe.carte-infos {
    grid-area: item1;
    width: var(--L);
    height: var(--a);
}
.texte1 {
    grid-area: item2;
}
.texte2 {
    grid-area: item3;
    background-color: var(--bg-lis);
}
.texte3 {
    grid-area: item4;
    align-self: var(--cen);
    width: var(--a);
    border: 2px solid var(--bg-lis);
    padding-bottom: 2%;
}
a {
    color: var(--jaune);
}