@import url(variables.css);
@import url(style.css);
@import url(info.css);
@import url(footer.css);
main {
    display: grid;
    grid-template: 
    "item1 item1" 100% 
    "item2 item3" 50% 50% 
    "item4 item4" 100% / 1fr 1fr 1fr;
    justify-content: var(--sa);
    width: var(--w);
    height: var(--etoile);
    top: var(--home);
    bottom: var(--bg);
    padding-top: var(--bg-lab);
    background-color: var(--blue);
    z-index: 5;
}
iframe.carte-infos, .texte1, .texte2, .texte3  {
    position: var(--rel);
    display: var(--blo);
    height: var(--a);
    padding: var(--text);
    color: var(--texte);
    z-index: 6;
}
iframe.carte-infos {
    grid-area: item1;
    border-radius: 50px;
}
.texte1 {
    grid-area: item2;
}
.texte2 {
    grid-area: item3;
    background-color: var(--bg-lis);
}
.texte3 {
    grid-area: item4;
    border: 2px solid var(--bg-lis);
    padding-bottom: 5%;
}
a {
    color: var(--jaune);
}