@import url(variables.css);

html,
body {
  display: var(--fl);
  position: var(--rel);
  flex-flow: var(--mob);
  align-items: var(--cen);
  align-content: var(--cen);
  justify-content: var(--ar);
  justify-items: var(--ar);
  left: var(--res);
  top: var(--res);
  right: var(--res);
  bottom: var(--res);
  width: var(--w);
  height: var(--a);
  margin: var(--res);
  padding: var(--res);
  box-sizing: var(--box);
  background: var(--home-page);
  font-family: var(--pol);
  -ms-overflow-style: var(--no);
  scrollbar-width: var(--no);
  z-index: 0;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: var(--no);
}

header {
  display: var(--fl);
  flex-flow: var(--mob);
  justify-content: var(--cen);
  align-items: var(--cen);
  background: var(--home-page);
}
aside a {
  position: var(--fix);
  bottom: var(--pad);
  right: var(--text);
  z-index: 7;
}

aside a img {
  width: var(--home);
  height: var(--home);
  z-index: 10;
}

h1,
h2 {
  text-align: var(--cen);
  text-transform: var(--up);
  color: var(--texte);
}
.avatar {
  width: var(--m-top);
  height: var(--m-top);
}
p {
  text-align: var(--justi);
  color: var(--texte);
}

.citation {
  position: var(--rel);
  font-family: var(--pol);
  font-size: var(--text);
  line-height: var(--titre);
  color: var(--texte);
}
.citation cite {
  font-family: var(--pol);
  font-size: var(--titre);
  font-weight: 700;
  color: var(--texte);
  float: var(--right);
}
.citation cite:before {
  content: "\2015"" ";
}
.citation:after {
  content: "\201d";
  position: var(--abs);
  top: var(--negatop);
  left: var(--res);
  font-size: 6em;
  font-style: var(--ita);
  color: var(--texte);
  z-index: -1;
}

#home {
  background: var(--home-page);
  width: var(--L);
  height: var(--L);
}

.un,
.deux,
.trois {
  display: var(--fl);
  flex-flow: var(--desk);
  justify-content: var(--sa);
  align-items: var(--cen);
  width: var(--L);
}



/*=====================================
|                                     |
|                 UN                  |
|                                     |
=====================================*/
#illu,
#illu2,
#illu3,
#illu4 {
  margin: var(--illu-m);
  height: var(--illu-h);
  width: var(--illu-w);
  border-radius: var(--citop);
  position: var(--rel);
  box-shadow: var(--res) 4px 4px #1c1a19;
}
#illu {
  background: url("../media/img/perso/alex/libre.png") no-repeat;
  background-size: var(--cov);
}
#illu2 {
  background: url("../media/img/perso/alex/pem.png") no-repeat;
  background-size: var(--cov);
}

#illu-description {
  position: var(--abs);
  bottom: var(--res);
  display: var(--fl);
  flex-flow: var(--desk);
  justify-content: var(--sa);
  align-items: var(--cen);
  border-radius: 0 0 5px 5px;
  width: var(--illu);
  height: var(--home);
  padding-top: var(--liseret-boucle-w);
  padding-left: 4px;
  background-color: rgba(24, 24, 24, 0.8);
  color: var(--texte);
  font-size: var(--text);
  font-family: var(--pol);
}

.bouton {
  height: var(--titre);
  background: url("../media/img/perso/fond-degrade.png") repeat-x;
  border: 1px solid #222250;
  border-radius: var(--line);
  font-size: var(--text);
  text-align: var(--cen);
  padding: 3px 8px 0px 8px;
  color: var(--texte);
  text-decoration: var(--no);
  font-family: var(--pol);
  transition: .3 ease-in-out;
}

.bouton img {
  border: var(--res);
}

.bouton:hover {
  background: url("../media/img/perso/fond-degrade-hover.png") repeat-x;
}

/*=====================================
|                                     |
|                 DEUX                |
|                                     |
=====================================*/

.flip-card {
  background: transparent;
  margin: var(--liseret-h);
  width: var(--page);
  height: var(--page);
  perspective: 1000px;
}
.flip-card img {
  width: var(--home);
  height: var(--home);
}
.flip-card h2,
.flip-card p {
  color: var(--bg-color);
}

.flip-card-inner {
  position: var(--rel);
  width: var(--L);
  height: var(--L);
  text-align: var(--cen);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: var(--abs);
  width: var(--L);
  height: var(--L);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: var(--citop);
  box-shadow: 0px 4px 4px #1c1a19;
  -webkit-backface-visibility: var(--hi);
  backface-visibility: var(--hi);
}

.flip-card-front {
  background: var(--texte);
  color: var(--home-page);
  display: var(--fl);
  flex-flow: var(--mob);
  justify-content: var(--cen);
  align-items: var(--cen);
}
.flip-card-front p{
  text-transform: var(--up);
  font-size: var(--bot);
  font-weight: var(--bold) ;
  color: var(--bleu);
}
.flip-card-back {
  background: var(--texte);
  color: var(--texte);
  transform: rotateY(180deg);
}

.flip-card-back h2 {
  font-size: var(--text);
  color: var(--home-page);
}

.flip-card-back p {
  text-transform: var(--up);
}

.flip-card-back a{
  position: var(--abs);
  bottom: var(--line);
  right: var(--line);
  font-size: var(--bot);
  font-weight: var(--bold);
  font-family: var(--pol);
  text-decoration: var(--no);
  color: var(--home-page);
}

.flip-card-back a:hover {
  color: var(--home);
}



/*=====================================
|                                     |
|                 TROIS               |
|                                     |
=====================================*/

#illu3 {
  background: url("../media/img/perso/alex/atelier.png") no-repeat;
  background-size: var(--L);
}


#illu4 {
  background: url('../media/img/perso/alex/tuto.png') no-repeat;
  background-size: var(--L); 
}
