@import url(variables.css);

html,
body {
  display: var(--fl);
  position: var(--rel);
  flex-flow: var(--mob);
  align-items: var(--cen);
  align-content: var(--cen);
  justify-content: var(--ar);
  justify-items: var(--ar);
  left: var(--res);
  top: var(--res);
  right: var(--res);
  bottom: var(--res);
  width: var(--w);
  height: var(--a);
  margin: var(--res);
  padding: var(--res);
  box-sizing: var(--box);
  background: var(--home-page);
  font-family: var(--pol);
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 0;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: var(--no);
}

header {
  display: var(--fl);
  flex-flow: var(--mob);
  justify-content: center;
  align-items: center;
}
aside a {
  position: var(--fix);
  bottom: var(--pad);
  right: var(--text);
  z-index: 7;
}

aside a img {
  width: var(--home);
  height: var(--home);
  z-index: 10;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--texte);
}
.avatar {
  width: 100px;
  height: 100px;
}
p {
  text-align: justify;
  color: var(--texte);
}

.citation {
  position: relative;
  font-family: "Verdana", serif;
  font-size: 1em;
  line-height: 1.5em;
  color: var(--texte);
}
.citation cite {
  font-family: "Verdana", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--texte);
  float: right;
}
.citation cite:before {
  content: "\2015"" ";
}
.citation:after {
  content: "\201d";
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 6em;
  font-style: italic;
  color: var(--texte);
  z-index: -1;
}

#home {
  background: var(--home-page);
  width: var(--L);
  height: var(--L);
}

.un,
.deux,
.trois {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: var(--L);
}



/*=====================================
|                                     |
|                 UN                  |
|                                     |
=====================================*/
#illu,
#illu2,
#illu3,
#illu4 {
  margin: 20px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
}
#illu {
  background: url("../media/img/perso/alex/libre.png") no-repeat;
  background-size: cover;
}
#illu2 {
  background: url("../media/img/perso/alex/pem.png") no-repeat;
  background-size: cover;
}

#illu-description {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 99.5%;
  height: 33px;
  padding-top: 15px;
  padding-left: 4px;
  background-color: rgba(24, 24, 24, 0.8);
  color: var(--texte);
  font-size: 1em;
  font-family: var(--pol);
}

.bouton {
  height: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: url("../media/img/perso/fond-degrade.png") repeat-x;
  border: 1px solid #222250;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  padding: 3px 8px 0px 8px;
  color: var(--texte);
  text-decoration: none;
  font-family: var(--pol);
  transition: .3 ease-in-out;
}

.bouton img {
  border: 0;
}

.bouton:hover {
  background: url("../media/img/perso/fond-degrade-hover.png") repeat-x;
}

/*=====================================
|                                     |
|                 DEUX                |
|                                     |
=====================================*/

.flip-card {
  background: transparent;
  margin: 50px;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.flip-card img {
  width: 150px;
  height: 150px;
}
.flip-card h2,
.flip-card p {
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #1c1a19;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: var(--texte);
  color: var(--home-page);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.flip-card-front p{
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold ;
  color: var(--bleu);
}
.flip-card-back {
  background: var(--texte);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h2 {
  font-size: 1em;
  color: var(--home-page);
}

.flip-card-back p {
  text-transform: uppercase;
}

.flip-card-back a{
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: var(--pol);
  text-decoration: var(--no);
  color: var(--home-page);
}

.flip-card-back a:hover {
  color: var(--home);
}



/*=====================================
|                                     |
|                 TROIS               |
|                                     |
=====================================*/

#illu3 {
  background: url("../media/img/perso/alex/pem.png") no-repeat;
  background-size: cover;
}


#illu4 {
  background: url('../media/img/perso/alex/tuto.png') no-repeat;
  background-size: cover; 
}
