@import url(variables.css);


html, body {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--mob);
    align-items: var(--cen);
    align-content: var(--cen);
    justify-content: var(--ar);
    justify-items: var(--ar);
    left: var(--res);
    top: var(--res);
    right: var(--res);
    bottom: var(--res);
    width: var(--w);
    height: var(--a);
    margin: var(--res);
    padding: var(--res);
    box-sizing: var(--box);
    background: var(--home-page);
    font-family: var(--pol);
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 0;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: var(--no);
}

header{
    display: var(--fl);
    flex-flow: var(--mob);
    justify-content: center;
    align-items: center;
}
header a{
    position: var(--fix);
    bottom:var(--pad);
    right: var(--text);
}

header a img{
    width: var(--home);
    height: var(--home);
}

h1, h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--texte);
}
.avatar {
    width: 100px;
    height: 100px;
}

p {
    text-align: justify;
    color: var(--texte);
}

#home{
    background: var(--home-page);
    width: var(--L);
    height: var(--L);
}


.un, .deux, .trois {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}


.flip-card {
    background: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
} 
.flip-card img {
    width: 150px;
    height: 150px;
}
.flip-card h2, .flip-card p {
    color: black;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background: #bbb;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flip-card-back {
    background: #bbb;
    color: white;
    transform: rotateY(180deg);
}



