@import url(footer.css);
@import url(variables.css);
@import url(animations.css);
@import url(contact.css);
@import url(corbeille.css);
@import url(accueil.css);
@import url(info.css);
@import url(linux.css);
@import url(header.css);
html, body {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--mob);
    align-items: var(--cen);
    align-content: var(--cen);
    justify-content: var(--ar);
    justify-items: var(--ar);
    left: var(--res);
    top: var(--res);
    right: var(--res);
    bottom: var(--res);
    width: var(--L);
    height: var(--L);
    margin: var(--res);
    padding: var(--res);
    overflow: var(--h);
    background: var(--bg-color);
    font-family: var(--pol);
    -ms-overflow-style: none;
    scrollbar-width: none;
    /*animation: var(--anim-bg);*/
    z-index: 0;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
        display: var(--no);
}
header {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--desk);
    width: var(--w);
    height: var(--bg);
}

.rs .rs-link a img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 3.5em;
    margin: 10px 0;
    border-radius: 0 30px 30px 0;
}


.bg {
    position: var(--rel);
    width: var(--bg);
    height: var(--a);
    animation: var(--anim-bg-img);
    z-index: 1;
}
iframe {
    display: var(--blo);
    position: var(--rel);
    top: var(--res);
    margin: var(--auto);
    border: var(--res);
    width: var(--cont-h);
    height: var(--L);
}
a {text-decoration: var(--no);}