@import url(variable.css);
@import url(animations.css);
@import url(footer.css);
html, body {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--mob);
    align-items: var(--cen);
    align-content: var(--cen);
    justify-content: var(--sa);
    justify-items: var(--ar);
    width: var(--L);
    height: var(--L);
    margin: var(--res);
    padding: var(--res);
    overflow: var(--h);
    animation: var(--anim-bg);
    z-index: 0;
}

header {
    display: var(--blo);
    width: var(--w);
    height: var(--bg);
}

img.bg {
    position: var(--rel);
    width: var(--bg);
    height: var(--a);
    animation: var(--anim-bg-img);
    z-index: 1;
}

.container {
    position: var(--rel);
    left: var(--res);
    top: var(--res);
    right: var(--res);
    bottom: var(--a);
    display: var(--fl);
    flex-flow: var(--mob);
    align-items: var(--cen);
    justify-content: var(--cen);
    width: var(--cont-w);
    height: var(--cont-h);
    z-index: 2;
}




