@import url(variables.css);

html, body {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--mob);
    align-items: var(--cen);
    align-content: var(--cen);
    justify-content: var(--ar);
    justify-items: var(--ar);
    left: var(--res);
    top: var(--res);
    right: var(--res);
    bottom: var(--res);
    width: var(--L);
    height: var(--a);
    margin: var(--res);
    padding: var(--res);
    box-sizing: var(--box);
    overflow: var(--h);
    background: var(--home-page);
    font-family: var(--pol);
    -ms-overflow-style: none;
    scrollbar-width: none;
    /*animation: var(--anim-bg);*/
    z-index: 0;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
        display: var(--no);
}

header{
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
}

header a{
    position: var(--fix);
    bottom:var(--marge);
    right: var(--marge);
}

header a img{
    width: var(--home);
    height: var(--home);
}

header i{
    position: var(--abs);
    top: var(--liseret-t);
    left: var(--liseret-l);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: var(--liseret-h);
    background: var(--bg-lis);
    border-radius: var(--liseret-bord-1);
    border-bottom-left-radius: var(--res);
    z-index: 2;
}
header i h1 {
    color: var(--blanc);
    font-size: var(--bot);
    font-family: var(--pol);
    font-variant: normal;
    z-index: 3;
}
h2 {
    color: var(--bg-lis);
    font-size: var(--titre);
    padding: var(--text);
}
.container-tutos{
    margin-top: var(--boite);
    width: var(--L);
    height: var(--a);
    display: var(--fl);
    flex-flow: var(--mob);
    justify-content: var(--ar);
    align-items: var(--cen);
    align-content: var(--cen);
}

.container-tutos .text {
    width: var(--cont-w);
    margin-top: var(--titre);
    display: var(--fl);
    flex-flow: var(--mob);
    justify-content: var(--cen);
    align-items: var(--home-j);
    border: 2px solid var(--bg-lis);
    line-height: var(--line);
    border-radius: var(--liseret-boucle-w);
    -webkit-box-shadow: var(--neumorph);
    box-shadow: var(--neumorph);

}

.container-tutos .text p{
    width: var(--cont-w);
    color: var(--texte);
    padding: var(--text);
}

.container-tutos .text .commande {
    width: var(--cont-w);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: var(--bg-lis);
    font-weight: var(--bold);
}


b {
    font-weight: var(--bold);
    color: var(--bg-lis);
}
.container-tutos .img, .container-tutos .video {
    width: var(--cont-w);
    height: var(--a);
    margin-top: var(--text);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    background: var(--bg-lis);
    border-radius: var(--liseret-boucle-w);
    -webkit-box-shadow: var(--neumorph);
    box-shadow: var(--neumorph);
}

.container-tutos .img a {
    width: var(--cont-w);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
}

.container-tutos .img img, .container-tutos .video video {
    width: var(--cont-h);
    height: var(--a);
    border-radius: var(--liseret-h);
    padding: var(--liseret-boucle-w) var(--res);    
}

/* LightBox */

.light{
    width: var(--cont-h);
    height: var(--a);
}


#un-open,
#deux-open,
#trois-open,
#quatre-open,
#cinq-open,
#six-open,
#sept-open,
#huit-open,
#neuf-open,
#dix-open,
#onze-open,
#douze-open
{
    width: var(--L);
    height: var(--L);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    background: rgba(0,0,0,.95);
    position: var(--fix);
    top: var(--res);
    transform: scale(var(--res));
    left: var(--a);
    transition: all .2s ease-in-out; 

}
#un-open a ,
#deux-open a,
#trois-open a,
#quatre-open a,
#cinq-open a,
#six-open a,
#sept-open a,
#huit-open a,
#neuf-open a,
#dix-open a,
#onze-open a,
#douze-open a{
    position: var(--abs);
    top: 5px;
    right: 5px;
    color: var(--texte);
}
#un-open a .light,
#deux-open a .light,
#trois-open a .light,
#quatre-open a .light,
#cinq-open a .light,
#six-open a .light,
#sept-open a .light,
#neuf-open a .light,
#dix-open a .light,
#onze-open a .light,
#douze-open a .light{
    width: var(--L);
    height: var(--L);
}
#un-open:target,
#deux-open:target,
#trois-open:target,
#quatre-open:target,
#cinq-open:target,
#six-open:target,
#sept-open:target,
#huit-open:target,
#neuf-open:target,
#dix-open:target,
#onze-open:target,
#douze-open:target{
    transform: scale(var(--L));
}

.close{
    width: 100px;
    height: 100px;
}
footer p {
    color: var(--texte);
}

footer p a {
    text-decoration: var(--no);
    color: var(--bg-lis);
    font-weight: var(--bold);
}
code {
    display: var(--fl);
    flex-flow: var(--desk);
    align-items: var(--cen);
    justify-content: var(--home-j);
    width: var(--a);
    height: var(--a);
    padding: 0 1.5em 0 1.5em;
    background-color: rgb(37, 35, 35);
}
pre {
    display: var(--blo);
    color: white;
    padding: 1.5em;
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;       
  }
  