@import url(variables.css);

html, body {
    display: var(--fl);
    position: var(--rel);
    flex-flow: var(--mob);
    align-items: var(--cen);
    align-content: var(--cen);
    justify-content: var(--ar);
    justify-items: var(--ar);
    left: var(--res);
    top: var(--res);
    right: var(--res);
    bottom: var(--res);
    width: var(--L);
    height: var(--a);
    margin: var(--res);
    padding: var(--res);
    box-sizing: var(--box);
    overflow: var(--h);
    background: var(--home-page);
    font-family: var(--pol);
    -ms-overflow-style: none;
    scrollbar-width: none;
    /*animation: var(--anim-bg);*/
    z-index: 0;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
        display: var(--no);
}

header{
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
}

header a{
    position: var(--fix);
    bottom:var(--liseret-boucle-w);
    right: var(--liseret-boucle-w);
}

header a img{
    width: var(--home);
    height: var(--home);
}

header i{
    position: var(--abs);
    top: var(--liseret-t);
    left: var(--liseret-l);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    width: var(--cont-h);
    height: var(--liseret-h);
    background: var(--bg-lis);
    border-radius: var(--liseret-bord-1);
    border-bottom-left-radius: var(--res);
    z-index: 2;
}
header i h1 {
    color: var(--blanc);
    font-size: var(--bot);
    font-family: var(--pol);
    font-variant: normal;
    z-index: 3;
}
h2 {
    color: var(--bg-lis);
    font-size: var(--titre);
    padding: var(--text);
}
.container-tutos{
    margin-top: var(--boite);
    width: var(--L);
    height: var(--a);
    display: var(--fl);
    flex-flow: var(--mob);
    justify-content: var(--ar);
    align-items: var(--cen);
    align-content: var(--cen);
}

.container-tutos .text {
    margin-top: var(--titre);
    display: var(--fl);
    flex-flow: var(--mob);
    justify-content: var(--cen);
    align-items: var(--home-j);
    border: 2px solid var(--bg-lis);
    line-height: var(--line);
    border-radius: var(--liseret-boucle-w);
    -webkit-box-shadow: var(--neumorph);
    box-shadow: var(--neumorph);

}

.container-tutos .text p{
    color: var(--texte);
    padding: var(--text);
}

.commande {
    color: var(--bg-lis);
    font-weight: var(--bold);
    text-align: var(--cen);   
}

b {
    font-weight: var(--bold);
    color: var(--bg-lis);
}
.container-tutos .img, .container-tutos .video {
    width: var(--cont-w);
    height: var(--a);
    margin-top: var(--text);
    display: var(--fl);
    flex-flow: var(--desk);
    justify-content: var(--cen);
    align-items: var(--cen);
    background: var(--bg-lis);
    border-radius: var(--liseret-boucle-w);
    -webkit-box-shadow: var(--neumorph);
    box-shadow: var(--neumorph);
}


.container-tutos .img a img, .container-tutos .video video {
    width: var(--cont-w);
    border-radius: var(--liseret-boucle-w);
    padding: 10px 0;
}

/* LightBox */

.light{
    width: 80%;
    height: auto;
}


#un-open,
#deux-open,
#trois-open,
#quatre-open,
#cinq-open,
#six-open{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.95);
    position: fixed;
    top: 0;
    opacity: 0;
    transform: scale(0);
    left: auto;
    transition: all .2s ease-in-out; 

}
#un-open a ,
#deux-open a,
#trois-open a,
#quatre-open a,
#cinq-open a,
#six-open a{
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--texte);
}
#newdoc-open a .light,
#command-open a .light,
#gopro-open a .light,
#change-open a .light,
#perm-open a .light,
#exec-open a .light{
    width: 100%;
    height: 100%;
}
#un-open:target,
#deux-open:target,
#trois-open:target,
#quatre-open:target,
#cinq-open:target,
#six-open:target{
    opacity: 1;
    transform: scale(100%);
}

.close{
    width: 100px;
    height: 100px;
}
footer p {
    color: var(--texte);
}

footer p a {
    text-decoration: var(--no);
    color: var(--bg-lis);
    font-weight: var(--bold);
}
