:root {
    /** reset **************************************/
    --res: 0;
    --box: border-box;
    --a: auto;
    --hi: hidden;
    --tran: transparent;
    /** color **************************************/
    --bg-color: #000;
    --bg-color2: rgb(9, 6, 37);
    --bg-pages: #262626;
    --bg-lis: rgb(224, 105, 14);
    --blue: #121241;
    --gris: #35495e;
    --caps: #353379;
    --clair: #31acff;
    --texte: rgb(198, 202, 240);
    --blanc: rgb(255,255,255);
    --home-page: rgba(28, 28, 75, 0.7);
    --opac: rgba(28, 28, 75, 0.9);
    --vert: #1ED760;
    --rouge: #FF1B2D;
    --jaune: #FBCE51;
    --jaune-bordures: #fac125e8;
    /** affichage **********************************/
    --blo: block;
    --inblo: inline-block;
    --no: none;
    --cov: cover;
    /** flex option ********************************/
    --fl: flex;
    --desk: row wrap;
    --desk-nw: row nowrap;
    --mob: column nowrap;
    --mob-w: column wrap;
    --home-j: flex-start;
    --end: flex-end;
    --ar: space-between;
    --sa: space-around;
    --cen: center;
    /** grid option ********************************/
    --gr: grid;
    --temp-inf: "carte carte" "alert alert" "adresse ouverture" 
    "description description" "equipe equipe";
    --frac: 1fr;
    /** positions **********************************/
    --abs: absolute;
    --sti: sticky;
    --fix: fixed;
    --rel: relative;
    --stat: static;
    --right: right;
    --citop: 10px;
    --negatop: -10px;
    --pos-page: -1500px;
    --pos-fermer: 10%;
    --liseret-t: 40px;
    --liseret-l: -15px;
    --liseret-h: 50px;
    --liseret-boucle-t: 50px;
    --liseret-boucle-w: 15px;
    --liseret-boucle-h: 30px;
    --liseret-bord-1: 30px;
    --liseret-bord-2: 20px; 
    /** tailles ************************************/
    --if: 500vh;
    --illu-h: 300px;
    --illu-w: 500px;
    --w: 100vw;
    --h: 100vh;
    --L: 100%;
    --illu: 99.5%;
    --alert: 90%;
    --cont-w: 98%;
    --submit: 96.5%;
    --cont-h: 90%;
    --etoile: 80em;
    --dropdown2: 85%;
    --dropdown: 70%;
    --foo-top: 50vh;
    --foo: 50%;
    --mini-foo: 35%;
    --page: 20rem;
    --boite: 12rem;
    --liseret: 11rem;
    --btn: 10rem;
    --cor: 8rem;
    --bg-lab: 7rem;
    --bg: 5rem;
    --marge: 5%;
    --trucs: 4rem;
    --mini-dock: 3.3em;
    --home: 3.5em;
    --contact: 3em;
    --icone: 3em;
    --line: 2rem;
    --titre: 1.5rem;
    --bot: 1.2em;
    --text: 1rem;
    --textMini: 1em;
    --textm: 0.7em;
    --w-init: 0;
    --h-init: 0;
    --m2: -35%;
    --m: -12%;
    
    /** padding ************************************/
    --pad: 0.5em;
    --pad-v: 10px;
    /** margin *************************************/
    --m-top: 100px;
    --auto: auto;
    --illu-m: 20px;
    --ml-v: 0.35em;
    --mt-v: 4em;
    /** texte **************************************/
    --pol: 'ubuntu', verdana, 'sans-sérif';
    --bold: bold;
    --b: bolder;
    --ita: italic;
    --justi: justify;
    --up: uppercase;
    /** opacités ***********************************/
    --visible: 1;
    --invisible: 0;
    /** clip-path **********************************/
    --clip: ellipse(48% 7% at 51% 100%);
    /** transform **********************************/
    --sca: scale(1.05);
    --dock: translateY(-20px) perspective(15px) scale3d(1.1, 1.1, 0.1) translateZ(10px);
    --bezier: .55s cubic-bezier(0,.74,1,.17);
    /** transition *********************************/
    --slide: all .5s ease-in-out;
    /** animations *********************************/
    --foo-op: 25s ease-in-out foo infinite;
    /** border  ************************************/
    --br-v: 50px;
    /** shadow *************************************/
    --shad: 8px 0px 25px 10px var(--footer);
    --soustexte: 2px 2px var(--bg-color2);
    --round: 0.2px 0.2px 0.2px 0.2px var(--bg-color2);
    --home-shadow: 0 25px 50px rgba(0,0,0,.15);
    --neumorph: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px 20px rgba(2, 2, 36, 0.4);
    --ombre: 0.2em 0.4em 0.1em rgba(0, 0, 0, 0.3),
    -0.3em 0.1em 0.1em rgba(2, 2, 2, 0.6),
    0.3em -0.2em 0.1em rgba(0, 0, 0, 0.3);
    /** curseur ************************************/
    --point: pointer;
}