:root {
    /***** reset *****/
    --res: 0;
    --box: border-box;
    --a: auto;
    --h: hidden;

    /***** color *****/
    --bg-color: #000;
    --bg-color2: rgb(9, 6, 37);
    --blue: #32327f;

    /*** affichage ***/
    --blo: block;

    /*** positions ***/
    --abs: absolute;
    --sti: sticky;
    --fix: fixed;
    --rel: relative;

    /**** padding ****/
    --pad: 1.5em;

    /**** tailles ****/
    --w: 100vw;
    --h: 100vh;
    --L: 100%;
    --bg: 5rem;
    --cont-w: 98%;
    --cont-h: 90%;
    --home: 3.5em;
    --foo: 50%;
    --foo-top: 50vh;
    --etoile: 80em;

    /** flex option **/
    --fl: flex;
    --mob: column wrap;
    --desk: row wrap;
    --home-j: flex-start;
    --end: flex-end;
    --cen: center;
    --ar: space-around;
    
    /**** clip-path ****/
    --clip: ellipse(48% 7% at 51% 100%);
    
    /****** shadow ******/
    --shad: 8px 0px 25px 10px var(--footer);
    --round: 2px 2px 2px 2px var(--bg-color2);

    /**** transform ****/
    --sca: scale(1.1);

    /**** animations ****/
    --anim-bg-img: 25s ease-in-out opacity infinite;
    --bg-img: 25s ease-in-out opacity-bg infinite;
    --mouv: 300s ease-in-out mouv-bg infinite;
    --lum: 25s ease-in-out rehausse infinite;
    --anim-bg: 25s ease-in-out bg infinite;
    --foo-op: 25s ease-in-out foo infinite;
    --tilt: 2s tilt infinite;
}